.Events {
  padding-top: 65px;
}
.events-h >h3 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
}

.but {
  margin-top: 30px;
  font-weight: 600;
  text-transform: capitalize;
}



.btn41-45 {
  padding: 10px 35px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.btn41-44 {
  padding: 10px 50px;
  margin-right: 20px;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .Events {
    padding-top: 80px;
    width: 100%;
    height: 100%;
  }
  .events-h {
    font-size: 3.75rem;
  }
  .but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .btn41-44 {
    padding: 8px 30px;
  }

  .btn41-45 {
    padding: 8px 20px;
  }
}
@media (max-width: 450px){
  .events-h{
    font-size: 3rem;
    line-height: 1;
  }
}