*{
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: "turnkey-bold";
  src: url(C:\Users\SATWIK\OneDrive\Desktop\scope-website\public\fonts\Fontspring-DEMO-turnkey-bold.otf) format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "turnkey-light";
  src: url(C:\Users\SATWIK\OneDrive\Desktop\scope-website\public\fonts\Fontspring-DEMO-turnkeysoft-extralight.otf) format("woff2");
  font-weight: normal;
  font-style: normal;
}

.green-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.inner-container {
  position: relative; /* Needed for absolute positioning */
  width: 95%;
  height: 85%;
  border-radius: 0px 0px 19.548px 19.548px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgba(9, 16, 0, 0.37) 54.9%, rgba(35, 63, 0, 0.50) 76.4%, rgba(68, 124, 0, 0.50) 98.4%);
}

.circle-light{
  position: relative;
  top: 30%;
  left: 40%;
  width: 20%;
  height: 20%;
  border-radius: 500px;
  background-color: rgba(87, 201, 90, 0.50);
  filter: blur(303.035400390625px);
}

.grid-image-left{
  width: 40%;
  height: 100%;
  position: relative;
  bottom: 0%;
  background-image: url(C:\Users\SATWIK\OneDrive\Desktop\scope-website\public\images\Vector1.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.grid-image-right{
  width: 40%;
  height: 100%;
  position: relative;
  bottom: 0%;
  background-image: url(C:\Users\SATWIK\OneDrive\Desktop\scope-website\public\images\Vector2.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 2;
}

.top-layer{
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  top: 30%;
}

.head{
  width: fit-content;
  font-family: turnkey-bold;
  color: white;
  font-size: 5vw;
  letter-spacing: -2px;
}

.highlighted{
  color: #36BE00;
}

.caption{
  margin-top: 1%;
  font-family: turnkey-light;
  font-size: 16px;
  font-weight: 100;
  color: white;
  width: 55%;
  line-height: 154.513%; /* 25.29px */
  letter-spacing: 1px;
  text-align: center;
}

.hw-container{
  margin-bottom: 20px;
  width: 20%;
  height: 8vh;
  border-radius: 27.44px;
  border: 0.61px solid #36BE00;
  box-shadow: 0px 0px 4.878px 2.439px rgba(54, 190, 0, 0.25);
  display: flex;
  padding: 0px 10px 0px 30px;
  align-items: center;
  justify-content: space-between;
}

.hw-text{
  font-family: turnkey-light;
  font-size: 25px;
  color: white; 
  margin: 0px;
  width: fit-content;
}

.hw-arrow{
  width: 20%;
  height: 90%;
  position: relative;
  background-image: url(C:\Users\SATWIK\OneDrive\Desktop\scope-website\public\images\arrow.png);
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fontChange{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.circles{
  width: 50%;
  height: 10vh;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  top: 80%;
  left: 25%;
}

div.circle1{
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: rgba(0, 135, 4, 0.80);
}

div.circle2{
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background: rgba(43, 145, 46, 0.20);

  }