* {
  padding: 0px;
  margin: 0px;
}

.green-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
}

.inner-container {
  position: relative;
  width: 95%;
  height: 85%;
  border-radius: 0px 0px 19.548px 19.548px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgba(9, 16, 0, 0.37) 54.9%, rgba(35, 63, 0, 0.50) 76.4%, rgba(68, 124, 0, 0.50) 98.4%);   overflow: hidden; /* Ensure the pseudo-element is clipped */
}

.inner-container::before {
  content: '';
  position: absolute;
  top: -0.674px; /* Offset to cover the border */
  left: -0.674px;
  right: -0.674px;
  bottom: -0.674px;
  border-radius: inherit; /* Inherit the border-radius from the parent */
  padding: 0.674px; /* Equivalent to the border width */
  background: linear-gradient(to bottom, rgba(56, 56, 56, 0), rgba(56, 56, 56, 0.90));
}
