.contactus{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contactus-head {
  font-family: turnkey-bold;
  color: #36be00;
  font-size: 500%;
  letter-spacing: -2px;
  margin-bottom: 0px;
}