

.form-group{
    display: flex;
    flex-direction: column;
}


.name-label,
.email-label {
    font-size: 16px;
    letter-spacing: 0.1rem;
    color: rgb(199, 0, 0);
    padding: 0px;
    margin: 0px;
}
