body{
    background-color: black;
}

nav{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.nav-item{
    display: flex;
    align-items: center;
}

ul.navbar-nav.mx-auto.mb-2.mb-lg-0.nav-bar {
    border: 1px solid white;
    border-radius: 100px;
    width: 45%;
    height: 55.089px;
    color: white;
    border-radius: 27.545px;
    border: 0.874px solid #363636;
    box-shadow: 0px 0px 3.498px 8.744px rgba(0, 0, 0, 0.25);
}

.nav-link, .nav-link.active {
    font-size: 17px;
    font-family: turnkey-light;
    color: white !important;
}

.nav-link.active{
    background-color: aquamarine;
    border-radius: 10px;
}
  