.resources{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rs-head{
    font-family: turnkey-bold;
  color: white;
  font-size: 6rem;
  letter-spacing: -2px;
  margin-bottom: 0px;
}